<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="MainDB" connectionString="Data Source=mssql5.gear.host;Initial Catalog=dacna;Persist Security Info=True;User ID=khoatna1608;Password=Qg6u8*!j#C"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
